.ona-container{
    display: flex;
    flex-direction: row;
   
}

.ona-content{
    text-align: center;
    width: 80vw;
    height: 100vh;
    /* background-image: url(/src/assets/images/90cd7ad5-6eee-4b97-8f11-c48454bb82ea.JPG);
    background-size: cover; */
    position: relative;
}

.residence{
    margin-top: 2rem;
    text-align: left;
    font-size: 1rem;
    font-family: 'Lovelo', sans-serif;
}

@media (min-width: 300px) and (max-width: 768px){
    .ona-container{
        flex-direction: column;
        
    }
    .ona-content{
        height: fit-content;
    }
    
    .imageSlider{
        margin-left: 3.5rem;
    }
    .residence{
        margin-left: 3.5rem;
    }
   
}