.ona-container{
    display: flex;
    flex-direction: row;
    font-family: 'Lovelo', sans-serif;
}

.ona-content{
    text-align: center;
    width: 80vw;
    height: 100vh;
    /* background-image: url(/src/assets/images/90cd7ad5-6eee-4b97-8f11-c48454bb82ea.JPG);
    background-size: cover; */
    position: relative;
}

.residence{
    margin-top: 2rem;
    text-align: left;
    font-size: 1rem;
    font-family: 'Lovelo', sans-serif;
}
.architect{
    font-weight: lighter;
    font-size: 0.8rem;
}
.onamobile-container{
    display: none;
}

.onamobile-content{
    display:flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    gap: 2rem;
    /* background-color: beige; */
}
.onamobile-image{
    width: 90%;
    height: auto;
    /* background-color: aqua; */
}

@media (min-width: 300px) and (max-width: 768px){
    .ona-container{
        flex-direction: column;
        
    }
    .ona-content{
        height: fit-content;
    }
    
    .imageSlider{
        display: none;
    }
    
    .onamobile-container{
        display: block;
        width: 100vw;
    }
   .residence{
    display: none;
   }
   
}