
:root{
    --nav-font-size: 1rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav{
    /* background-color: aliceblue; */
    height: 100vh;
    width: 20vw;
    /* border-right: 1px solid black; */
/* position: absolute; */
}
.mobile-nav-icon{
    width: 90%;
    margin: 0 auto;
    /* background-color: pink; */
    display: flex;
    justify-content: end;
}

.logo-container{
    
    text-align: center;
    padding-top: 1rem;
    /* background-color: aliceblue; */
}

.logo{
    width: 100%;
    height: auto;
    /* background-color: aliceblue; */
}

.description{
    text-align: center;
    font-size: smaller;
    font-family: 'Lovelo', sans-serif;
    margin-bottom: 1rem;
    font-weight: bold;
}
a{
    color: black;
}
.socials{
    /* background-color: aliceblue; */
    display:flex;
    margin-bottom: 2rem;
    justify-content: center;
    gap: 1rem;
    font-size: smaller;
}

.menu{
    /* background-color: aliceblue; */
    margin: 0rem 0rem 0rem 4rem;
    font-family: arial,verdana,sans serif;
    font-size: var(--nav-font-size);
    
}

.dropdown-btn{
    border: none;
    background-color:transparent;
    font-size: var(--nav-font-size);
    margin-bottom: 1rem;
}

.dropdown-btn:hover{
    cursor: pointer;
    color: gray;

}

.plus-icon{
    font-size:0.8rem;
    
}

.sub-menu li{
    margin-bottom: 1rem;
    list-style: none;
    font-size: 0.8rem;
    /* text-decoration: none; */
}

.sub-menu li:hover{
    cursor: pointer;
    color: gray;
}

.rudolf-link{
    text-decoration: none;
    color: black;
}

.mresidence-link{
    text-decoration: none;
    color: black;
}
.onaresidence-link{
    text-decoration: none;
    color: black;
}
.vproject-link{
    text-decoration: none;
    color: black;
}
.xproject-link{
    text-decoration: none;
    color: black;
}

.about{
    margin-bottom: 1rem;
}
.about:hover{
    cursor: pointer;
    color: gray; 
}
.about-link{
   
    text-decoration: none;
    color: black;
}

.contact{
    margin-bottom: 1rem;
}

.copyright{
    font-size: 0.5rem;
padding-top: 3rem;
text-align: center;
font-family: arial,verdana,sans serif;
}

.hamburger{
    
    display: none;
/* text-align: left; */
    color: black;
    font-size: larger;
    margin: 0.5rem 0.5rem 0.3rem 1rem;
    /* background-color: yellow; */
    /* left: 20%; */
}
.hamburger:hover{
    cursor: pointer;
    color: gray;
}



@media (min-width: 300px) and (max-width: 768px){
   .nav{
    display:none;
    width: 100vw;
   }
    .nav.expanded{
        display: block;
        overflow-y: hidden;
        /* position: fixed; */
    }
    .hamburger{
        display: block;
        width:fit-content;
        /* position: fixed; */
    }
    .logo{
        width: 50%;

    }
    .logo-container{
        padding-top: 0.5rem;
        /* background-color: aliceblue; */
    }
    .nav-container{
        width: 100vw;
    }
}